body {
	background-color:#fff;
	color:#222;
	font-family:sans-serif;
}

h1,h2 {
	color:#900;
}

p {
	margin-bottom:20px;
}

#loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 120px;
	margin: 189px 0px 0px 142px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

body.about {
  background: transparent url(../images/tradui_load_screen.png) no-repeat scroll top left;
  margin: 0px;
}

div.about {
  margin: 50px 20px;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  opacity:0.8;
}

