body {
	background-color:#fff;
	color:#222;
	font-family:sans-serif;
}

h1,h2 {
	color:#900;
}

p
{
	margin-bottom:20px;
}

body.about {
  background-image: url(../images/tradui_load_screen.png);
  margin: 0px;
}

div.about {
  margin: 50px 20px;
  padding: 10px;
  background-color: white;
}
