body {
	background-color:#000;
	color:#fff;
	font-family:sans-serif;
	-webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
	-webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
}

h1,h2 {
	color:#900;
}

p {
	margin-bottom:20px;
}

#loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 120px;
	margin: 189px 0px 0px 142px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

body.about {
  background: transparent url(../images/tradui_load_screen.png) no-repeat scroll top left;
  margin: 0px;
}
body.black {
  background: #000;
  color: #fff;
}

div.about {
  margin: 30px 20px;
  padding: 10px;
  background-color: #222;
  color: #fff;
  font-size: 14px;
  -webkit-border-radius: 10px;
  opacity:0.9;
}
div.about span {
  color: green;
  font-weight: bold;
  text-decoration: underline;
}

body.striped {
	margin: 10px;
	background: transparent url(../images/stripes.png) repeat-y scroll top left;
}

body.striped.nav {
	margin: 0px;
}
.group_header {
	padding: 10px 10px 10px 10px; 
	color: #505769; 
	text-shadow: 1px 1px 1px #fff; 
	font-weight: bold;
}
.group_wrapper {
/*	height:89px;
*/	padding:6px 0px 0px 10px; 
	background:#fff; 
	-webkit-border-radius: 10px; 
	border: 1px solid #a9aaaf; 
	width: 290px;
}
.group_wrapper .label {
	height:30px;
	float:left;
	margin-right:10px; 
	padding-top: 8px; 
	padding-bottom: 5px; 
	width: 90px; color: #000; 
	font-weight: bold;
}
.group_wrapper .middle_border {
	clear:both; 
	border-top: 1px solid #a9aaaf; 
	margin-left: -10px;
	padding-bottom: 5px;
}
.group_wrapper .field_wrapper {
	float:left; 
	padding-top: 3px; 
	padding-bottom: 5px;
}
.group_wrapper .field_wrapper .text_field {
	height:18px;
	width:170px;
	font-size: 14px;
}
.group_wrapper .field_wrapper .text_field.full.android {
	height:24px;
	width:270px;
	font-size: 16px;
}
.group_wrapper .field_wrapper .text_field.full.android {
	height:50px;
	width:280px;
	font-size: 16px;
}

.group_wrapper .field_wrapper .check_box {
  margin-top: 5px;
  float: right;
}

.search_wrapper {
  background: #999;
  width: 308px;
  margin-top: -10px;
  margin-left: -10px;
  padding: 10px 7px;
}